In [1]:
5+5

10

In [2]:
print("Hello, World!")

Hello, World!

In [3]:
variable_Carro= 10
variable_Carro2= 20

print(variable_Carro + variable_Carro2)

30

In [4]:
num1 = int(input("Ingresa el primer número: "))
num2 = int(input("Ingresa el segundo número: "))

if num1 > num2:
    print("El número mayor es:", num1)
elif num2 > num1:
    print("El número mayor es:", num2)
else:
    print("Ambos números son iguales")

El número mayor es: 123

Variables en listas

In [5]:
vendedores = ['Ana', 'Luis', 'Marta', 'Sergio']
len(vendedores)

4

In [6]:
vendedores = ['Ana', 'Luis', 'Marta', 'Sergio']
Ventas = [1500.50, 2300.75, 1800.00, 2100.25]
print("Ventas por vendedor:")
for i in range(len(vendedores)):
    print(f"{vendedores[i]}: ${Ventas[i]:,.2f}")

Ventas por vendedor:
Ana: $1,500.50
Luis: $2,300.75
Marta: $1,800.00
Sergio: $2,100.25

In [7]:
vendedores = ['Ana', 'Luis', 'Marta', 'Sergio']
ventas = [1500.50, 2300.75, 1800.00, 2200.25]
Resumen = list(zip(vendedores, ventas))
for vendedor, venta in Resumen:
    print(f'{vendedor}: ${venta:,.2f}')

Ana: $1,500.50
Luis: $2,300.75
Marta: $1,800.00
Sergio: $2,200.25

In [8]:
import pandas as pd
vendedores = ["Ana", "Luis", "Marta", "Sergio"]
ventas = [1500.50, 2300.75, 1800.00, 2100.25]
df = pd.DataFrame({
    "Vendedor": vendedores,
    "Ventas": ventas
})
print(df)

  Vendedor   Ventas
0      Ana  1500.50
1     Luis  2300.75
2    Marta  1800.00
3   Sergio  2100.25

In [9]:

vendedores = ['Ana', 'Luis', 'Marta', 'Sergio']
Ventas = [1500.50, 2300.75, 1800.00, 2100.25]

#vendedores.append('Camila')



meses = []
ventas = []


cantidad_meses = int(input('Ingrese el número de meses a registrar: '))

for i in range(cantidad_meses):
    
    mes = input('Ingrese el nombre del mes: ')
    venta = float(input(f'Ingrese el total de ventas en {mes}: '))

    # Guardar los datos
    meses.append(mes)
    ventas.append(venta)


n = len(meses)

print('\nRegistro de Ventas Mensuales:')
for i in range(n):
    print(f'{meses[i]}: ${ventas[i]:,.1f}')

ValueError: invalid literal for int() with base 10: ''

**18/11/2025

In [ ]:
#Ejercicio 3: Búsqueda y Reporte de Anomalías
#Simular una lista de mediciones técnicas donde algunos elementos sean claramente errores (valores negativos, o números muy elevados). Escribir un algoritmo que recorra la lista, detecte las anomalías y genere un reporte indicando la posición y el valor del dato anómalo.

# Lista con mediciones donde hay errores como valores negativos o muy altos
mediciones = [10, 15, -3, 20, 1000, 18, 25, -1]

print("Reporte de anomalías:")

for i in range(len(mediciones)):
    valor = mediciones[i]
    if valor < 0 or valor > 100:
        print(f"Anomalía en posición {i}: valor {valor}")

In [ ]:
#Ejercicio 4: Generación de Informes Semanales
#Con una lista de datos diarios (por ejemplo, humedad del suelo durante 7 días), pedir que calcule día a día y semana a semana: máximos, mínimos y promedio. El informe se presenta como texto, estructurado con títulos para cada parámetro.

# Datos de humedad diaria en porcentaje durante una semana
humedad_dias = [55, 60, 58, 57, 62, 59, 61]

max_humedad = humedad_dias[0]
min_humedad = humedad_dias[0]
suma = 0

for h in humedad_dias:
    if h > max_humedad:
        max_humedad = h
    if h < min_humedad:
        min_humedad = h
    suma += h

promedio_humedad = suma / len(humedad_dias)

print("Informe semanal de humedad:")
print("Máximo:", max_humedad)
print("Mínimo:", min_humedad)
print("Promedio:", round(promedio_humedad, 2))

In [ ]:
#Ejercicio 5: Consola de Registro de Datos Manual
#Implementar un menú interactivo por consola donde el usuario pueda:
#Agregar nuevas mediciones (pidiendo dato y día).
#Consultar todos los datos ingresados.
#Calcular estadísticas simples (promedio, máximo, mínimo).
#Esto integra bucles, condicionales, manejo de listas, y práctica de interacción con input/output.

datos = []

def mostrar_menu():
    print("\nMenú de registro de datos")
    print("1. Agregar medición")
    print("2. Consultar datos")
    print("3. Estadísticas")
    print("4. Salir")

def agregar_dato():
    dia = input("Ingrese el día (ejemplo: Lunes): ")
    try:
        valor = float(input("Ingrese el valor de la medición: "))
        datos.append((dia, valor))
        print("Dato agregado.")
    except:
        print("Valor no válido.")

def consultar_datos():
    if len(datos) == 0:
        print("No hay datos registrados.")
    else:
        for d in datos:
            print(f"Día: {d[0]}, Valor: {d[1]}")

def estadisticas():
    if len(datos) == 0:
        print("No hay datos para calcular estadísticas.")
        return
    valores = [d[1] for d in datos]
    max_valor = valores[0]
    min_valor = valores[0]
    suma = 0
    for v in valores:
        if v > max_valor:
            max_valor = v
        if v < min_valor:
            min_valor = v
        suma += v
    promedio = suma / len(valores)
    print(f"Máximo: {max_valor}")
    print(f"Mínimo: {min_valor}")
    print(f"Promedio: {round(promedio,2)}")

while True:
    mostrar_menu()
    opcion = input("Seleccione una opción: ")
    if opcion == "1":
        agregar_dato()
    elif opcion == "2":
        consultar_datos()
    elif opcion == "3":
        estadisticas()
    elif opcion == "4":
        print("Saliendo...")
        break
    else:
        print("Opción no válida.")

<h1>CLASE 18/11/2025</h1>

In [ ]:
ventas = [1200.50, 1500.75, 1100.00, 1800.25, 1300.60 ]
#Calculo de estadísticas
venta_total = sum(ventas)

venta_mayor = max(ventas)
pos_venta_may = ventas.index(venta_mayor)
mes_venta_may = meses[pos_venta_may]

venta_menor = min(ventas)
pos_venta_men = ventas.index(venta_menor)
mes_venta_men = meses[pos_venta_men]

# === Visualización de Resultados ===
n = len(meses)

print('\nRegistro de Ventas Mensuales:')
for i in range(n):
    print(f'{meses[i]}: ${ventas[i]:,.2f}')

print(f'''
Ventas Totales durante {n} meses: ${venta_total:,.2f}
Mes con Mayor Venta: {mes_venta_may.capitalize()} (${venta_mayor:,.2f})
Mes con Menor Venta: {mes_venta_men.capitalize()} (${venta_menor:,.2f})
''')

Registro de Ventas Mensuales:
Febrero: $120.00

Ventas Totales durante 1 meses: $120.00
Mes con Mayor Venta: Febrero ($120.00)
Mes con Menor Venta: Febrero ($120.00)

<h1>Explicacion librerias</h1>
<h3>Explicacion sobre como comenzar a importar librerias</h3>

In [13]:
import math
print(math.sqrt(16))
print(math.pi*10)
print(math.pow(2, 3))
print(math.log(1000))

4.0
31.41592653589793
8.0
6.907755278982137

In [12]:
raiz_cuadrada = math.sqrt(2100)

print(f'{raiz_cuadrada:.2f}')

45.83

In [26]:
import pandas as pd
id_vendedor = [101, 102, 103, 104] 
vendedores = ["Ana", "Luis", "Marta", "Sergio"]
ventas = [1500.50, 2300.75, 1800.00, 210000.25]


df = pd.DataFrame({
    "ID Vendedor": id_vendedor,
    "Vendedor": vendedores, 
    "Ventas": ventas
})  
df.describe()

#print(df)

       ID Vendedor         Ventas
count     4.000000       4.000000
mean    102.500000   53900.375000
std       1.290994  104067.106956
min     101.000000    1500.500000
25%     101.750000    1725.125000
50%     102.500000    2050.375000
75%     103.250000   54225.625000
max     104.000000  210000.250000

<h1>Bases de datos</h1>
<h3>Explicacion sobre como comenzar con pandas</h3>

In [ ]:

import pandas as pd
s = pd.Series([1500.50, 2300.75, 1800.00, 2100.25], index=['Ana', 'Luis', 'Marta', 'Sergio'])
print(s)

Ana       1500.50
Luis      2300.75
Marta     1800.00
Sergio    2100.25
dtype: float64

In [10]:

id_vendedor = [101, 102, 103, 104] 
vendedores = ["Ana", "Luis", "Marta", "Sergio"]
ventas = [1500.50, 2300.75, 1800.00, 210000.25]


df = pd.DataFrame({
    "ID Vendedor": id_vendedor,
    "Vendedor": vendedores, 
    "Ventas": ventas
})  
#df.describe()
print(df)

   ID Vendedor Vendedor     Ventas
0          101      Ana    1500.50
1          102     Luis    2300.75
2          103    Marta    1800.00
3          104   Sergio  210000.25