# Ejercicios de pandas
Notebook con ejemplos prácticos para cada punto.

## 1. Introducción a pandas

In [1]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.3'

## 2. Series y DataFrames

In [3]:
s = pd.Series([10, 20, 30, 10], index=['a','b','c', 'd'])

#print(s.head(1))

#print(s.tail(1))
#print(s.shape)
#print(s.index)
#print(s.info)
#print(s.describe())
print(len(s))

4

In [7]:
df = pd.DataFrame({'pais':['MX','AR','MX'], 'ventas':[100,200,150]})

print(df.head(1))
print(df.tail(1))
print(df.shape)
print(df.index)
print(df.info)
print(df.describe())
print(df.dtypes)

  pais  ventas
0   MX     100
  pais  ventas
2   MX     150
(3, 2)
RangeIndex(start=0, stop=3, step=1)
<bound method DataFrame.info of   pais  ventas
0   MX     100
1   AR     200
2   MX     150>
       ventas
count     3.0
mean    150.0
std      50.0
min     100.0
25%     125.0
50%     150.0
75%     175.0
max     200.0
pais      object
ventas     int64
dtype: object

## 3. Importación y limpieza

In [5]:
url="https://github.com/Twoeme/Prueba2/raw/refs/heads/main/Pandas_Class/layoffs.csv"
df = pd.read_csv(url)
#df = pd.read_excel(url)#sep=";"
print(df)

                         company        location  total_laid_off        date  \
0                         Sonder     SF Bay Area             NaN  11/10/2025
1                        Axonius   New York City           100.0   11/6/2025
2                        MyBambu         Memphis           141.0   11/5/2025
3     Hewlett Packard Enterprise     SF Bay Area            52.0   11/5/2025
4                         Indeed          Austin             NaN   11/5/2025
...                          ...             ...             ...         ...
4197                     Service     Los Angeles             NaN   3/16/2020
4198                HopSkipDrive     Los Angeles             8.0   3/13/2020
4199                 Panda Squad     SF Bay Area             6.0   3/13/2020
4200               Tamara Mellon     Los Angeles            20.0   3/12/2020
4201                    EasyPost  Salt Lake City            75.0   3/11/2020

      percentage_laid_off        industry  \
0                    1.00          Travel
1                    0.11        Security
2                    1.00         Finance
3                     NaN        Hardware
4                     NaN              HR
...                   ...             ...
4197                 1.00          Travel
4198                 0.10  Transportation
4199                 0.75        Consumer
4200                 0.40          Retail
4201                  NaN       Logistics

                                                 source     stage  \
0     https://skift.com/2025/11/10/sonder-shuts-down...  Post-IPO
1     https://www.calcalistech.com/ctechnews/article...  Series E
2     https://cbs12.com/news/local/new-west-palm-bea...   Unknown
3     https://www.sfchronicle.com/tech/article/layof...  Post-IPO
4     https://www.businessinsider.com/indeed-layoffs...  Acquired
...                                                 ...       ...
4197  https://techcrunch.com/2020/03/16/travel-savin...      Seed
4198  https://layoffs.fyi/2020/04/02/hopskipdrive-la...   Unknown
4199  https://twitter.com/danielsinger/status/123854...      Seed
4200            https://layoffs.fyi/list/tamara-mellon/  Series C
4201  https://www.bizjournals.com/louisville/news/20...  Series A

      funds_raised        country  date_added
0            839.0  United States  11/10/2025
1            865.0  United States   11/7/2025
2             15.0  United States   11/7/2025
3           1400.0  United States   11/7/2025
4              5.0  United States   11/8/2025
...            ...            ...         ...
4197           5.1  United States   8/31/2020
4198          45.0  United States    4/3/2020
4199           1.0  United States   4/17/2020
4200          90.0  United States   3/31/2020
4201          12.0  United States   3/31/2020

[4202 rows x 11 columns]

#Limpieza de datos
•	Valores faltantes

•	Tipos incorrectos

•	Errores de formato

•	Nombres de columnas inconsistentes

In [10]:

print(df['country'].nunique())

#print(len(df['country'].unique()))
#print(df['country'].isna().sum())

67

In [29]:
df['date']= pd.to_datetime(df['date'])
df['date'].dtypes

dtype('<M8[ns]')

In [31]:
#df.info()

companias = df['company'].unique()
locations = df['location'].unique()
industries = df['industry'].unique()   
date= df['date'].unique()
#total_laidoff = df['total_laid_off'].sum()
#print(f'Total de despidos: {total_laidoff}')
#print(len(companias))

print(date.min())
print(df['date'].dtypes)

2020-03-11 00:00:00
datetime64[ns]

In [16]:
print(len (locations))

267

In [ ]:
df.isna()
df.isna().sum()

df.dropna(how='all', subset=["col1"])
df.dropna(how='any')
df.fillna(0)
#df.fillna(method="bfill", "ffill")
#Rellenar con un número
#Rellenar con la media de la columna
#Rellenar con el valor anterior (method="ffill")
#Rellenar con el siguiente (method="bfill")

In [ ]:
df = pd.DataFrame({'col':[1,2,np.nan,4], 'duplicado':[1,1,2,2]})
df

In [ ]:
df.duplicated()
df.drop_duplicates()
#subset=["col1","col2"] → considerar duplicadas solo esas columnas
#keep="first" o keep="last"

In [ ]:
df.rename(columns={"old":"new"})

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.columns = df.columns.str.replace(" ", "_")

In [ ]:
df.columns = df.columns.str.replace(" ", "_")

In [ ]:
df["col"] = df["col"].astype(int)
df["fecha"] = pd.to_datetime(df["fecha"])

In [ ]:
df["col"] = df["col"].astype("category") #No es buena practica

# Flujo típico de limpieza
1.	Cargar archivo (CSV, Excel, JSON).

2.	Explorar estructura con .head(), .info(), .describe().

3.	Renombrar columnas.

4.	Tratar valores nulos.

5.	Eliminar duplicados.

6.	Arreglar tipos de datos.

7.	Verificar resultados.

## 4. Selección y filtrado

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4], 'B':[10,20,30,40]}, index=['a','b','c','d'])
df.loc['b':'d']

In [ ]:
df.iloc[1:3]

In [ ]:
df[df['A']>2]

## 5. Transformación de datos

In [ ]:
df = pd.DataFrame({'A':[1,2,3], 'B':[10,20,30]})
df['C']=df['A']+df['B']
df

In [ ]:
df.apply(lambda x: x*2)

## 6. Agrupaciones y análisis

In [ ]:
df = pd.DataFrame({'pais':['MX','MX','AR'], 'ventas':[100,200,300]})
df.groupby('pais').sum()

In [ ]:
df.groupby('pais').agg({'ventas':['sum','mean']})

## 7. Unión y combinación

In [ ]:
df1 = pd.DataFrame({'id':[1,2], 'A':[10,20]})
df2 = pd.DataFrame({'id':[1,3], 'B':[100,300]})
pd.merge(df1, df2, on='id', how='outer')

## 8. Visualización básica (conceptual)

Los siguientes comandos funcionarían si matplotlib estuviera configurado:
```
df['A'].plot()
```

## 9. Optimización

In [ ]:
df = pd.DataFrame({'x':np.random.randint(0,100,size=1000)})
df.info()

In [ ]:
df['x'] = df['x'].astype('int32')
df.info()

## 10. Mini proyecto final

In [ ]:
df = pd.DataFrame({'pais':['MX','AR','MX','CL'], 'ventas':[100,200,150,300]})
df

In [ ]:
total_laidoff_per_company = df.groupby('company')['total_laid_off'].sum()
print(total_laidoff_per_company)